.btn {
  border: none;
  background-color: transparent;
  padding: 8px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}

.btnDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
